.balance-header {
  padding: 15px 0;
  background-color: #dddddd;
}

.balance-title {
  color: gray;
}

.expense-list-container {
  min-height: 350px;
  max-height: 350px;
  overflow-y: auto;
}

.transaction-amount-ul {
  padding-left: 15px;
  margin-bottom: 0px;
}

.transaction-amount-ul li {
  list-style-type: none;
}

.expense-list-item {
  padding: 10px 20px 10px 0;
  border-bottom: 2px solid black;
}

.transaction-amount {
  font-size: 20px;
}

.trash-icon {
  height: 25px;
  width: 20px;
}

.trash-icon:hover {
  cursor: pointer;
}

.description-elipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button 
input::-webkit-outer-spin-button,
input::-webkit-outer-spin-button
 { 
  -webkit-appearance: none; 
  margin: 0; 
}

.add-buttons{
  border: 2px solid #000;
  padding: 5px 50px;
  text-align: center;
  color: #ffffff;
  box-shadow: 3px 3px #000;
  font-weight: 500;
  font-size: 12px
}

.add-spending-color{
  background-color: #ff0000;
}

.add-income-color{
  background-color: #008000;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .add-buttons{
    border: 2px solid #000;
    padding: 5px 25px;
    text-align: center;
    color: #ffffff;
    box-shadow: 3px 3px #000;
    font-weight: 500;
    font-size: 12px
  }
}

