/* common margin css */
.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.no-horizontal-margin {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* common padding css */
.pl-15 {
  padding-left: 15px;
}

.no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.full-height {
  height: 100%;
}

.fnt-10{
  font-size: 10px;
}
